body {
    background-image: url("../images/gplaypattern.png");
}

.navbar {
    background-color: black;
}

.container {
    background-color: black;
    height: 100%;
    
}

.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.crystal {
    height: 100px;
    width: 100px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}
